<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">
    
    <http  auto-config="true">
		<intercept-url pattern="/pages/etudiant/**" access="ROLE_ADMIN,ROLE_USER,ROLE_CHEF" />
                <intercept-url pattern="/pages/departement/**" access="ROLE_ADMIN" />
                <intercept-url pattern="/pages/utilisateur/**" access="ROLE_ADMIN" />
		<form-login login-page="/login" default-target-url="/welcome"
			authentication-failure-url="/loginfailed" />
		<logout logout-success-url="/logout"  />
                <access-denied-handler error-page="/403" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				
				users-by-username-query="
					select username,password, droit_id 
					from Utilisateur where username=?" 
				
				authorities-by-username-query="
					select u.username, ur.type from Utilisateur u, Droit ur 
					where u.droit_id = ur.id and u.username =?  " 
					
			/>
		</authentication-provider>
	</authentication-manager>
</beans:beans>
